<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<launch>
    <include file="$(find localizer)/launch/get_odom.launch"/>
    <include file="$(find lidar_map)/launch/urg_lidar.launch"/>
    <include file="$(find lidar_map)/launch/map_server.launch"/>
    <include file="$(find localizer)/launch/urdf_publisher.launch"/>
    <node pkg="amcl" type="amcl" name="amcl" output="screen">
        <rosparam>
            odom_model_type: "diff-corrected"
            odom_alpha1: 0.005
            odom_alpha2: 0.005
            odom_alpha3: 0.010
            odom_alpha4: 0.005
            odom_alpha5: 0.003
        </rosparam>
    </node>
    <node pkg="hector_trajectory_server" type="hector_trajectory_server" name="hector_trajectory_server" output="screen">
    <node name="rviz" pkg="rviz" type="rviz"
          args="-d $(find localizer)/launch/localize.rviz"/>
</launch>