<launch>
  <master auto="start"/>
  <include file="$(find localizer)/launch/localize.launch"/>
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find localizer)/configs/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find localizer)/configs/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find localizer)/configs/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find localizer)/configs/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find localizer)/configs/base_local_planner_params.yaml" command="load" />
    <rosparam file="$(find localizer)/configs/dwa_local_planner_params.yaml" command="load" />
    <rosparam file="$(find localizer)/configs/move_base_params.yaml" command="load" />
  </node>
  <!-- <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure"/> -->
</launch>